body{
    z-index: 10%;
    scroll-behavior: smooth;
}
.svg-image3{
    position: absolute;
    top: 7%;
    left: 10%;
}
.svg-image1{
    position:absolute;
    top: 30%;
    left: 22%;
}
.svg-image2{
    position: absolute;
    top: 22%;
    left: 73%;
}
.AI-page{
    position: relative;
}
.empowering{
    font-size: 2.5em;
    font-stretch: expanded;
    font-family: 'Poppins', sans-serif;
}
.your-ai{
    font-size: 2.5em;
    font-stretch: expanded;
    font-family: 'Poppins', sans-serif;
}
.pi{
    font-size: 6.5em;
    font-stretch: expanded;
    font-family: 'Lilita One', cursive;
    font-weight: bolder;
    color: black;
    translate: -0.5em;
}
.friends{
    position: absolute;
    top: 22%;
    right: 4%;
}
.uncle{
    position: absolute;
    top: 19%;
    left: 3%;
}
.imag{
    position: absolute;
    top: 47%;
    left: 29%;
}
.ai-slogan{
    font-size: 1em;
    width: 35vw;
    font-family:'Poppins', sans-serif;
}
.box-start{
    background-image: url(images/ai\ chat\ images.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
 background-color: #171717f1;
    padding: 2em 2em;
    position: relative;
}
.join-para{
    width: 57vw;
    padding: 0.5em 1em;
    margin: auto;
    font-family:'Poppins', sans-serif  ;
    translate: 0em -1em;
    font-size: small;
}
.community-change{
    background: linear-gradient( 120deg,#7e18c7,#ac52c7,#e645d5,#e62942);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.New-learn-para{
    translate: 4em 0em;
}
.New-learn-para p{ padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;}
.weekly-para p{
    padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;
}
.AI-para{
    translate: 3em 0em;
}
.AI-para p{
    padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;
    translate: 2em 0em;
}
.Online-para p{
    padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;
}
.find-para{
    translate: 4em 0em;
}
.find-para p{
    padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;
}
.score-para p{
    padding: 0em 0.2em;
    width: 41vw;
    translate: 0em -1.2em;
    font-family:'Poppins', sans-serif ;
    font-size: small;
}
.New-learn{
    translate: 4.5em 0em;
}
.New-learn h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.weekly-test h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.AI-support{
    translate: 5em 0em;
}
.AI-support h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.online-course h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.local-Workshop{
    translate: 4.5em 0em;
}
.local-Workshop h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.live-webinars h4{
    font-size: 1.9em;
    font-weight: bold;
    padding: 0.5em 0em;
    font-family: 'Poppins', sans-serif;
    color: darkblue;
}
.text-let p{
    background: linear-gradient( 60deg,#171717,#171717,#171717,#d7d7d8,#171717,#35273d,#de680d,#134c9c,#9c6033);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.box3{
    width: 30vw;
    translate: 0em -1em;
    font-family: 'Poppins', sans-serif;
}
.box2 p{
    font-size: 2.8em;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
}
.box1{
    width: 26vw;
    translate: 0em 1em;
}
.box1 p{
text-align: center;
background-color: rgb(158, 230, 230);
color: rgb(3, 86, 86);
height: max-content;
border-radius:5px;
}
.join{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.explore{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.connect{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grow{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.images{
    margin-left: 5.5em;
}
.images1{
margin-left: 5.5em;
margin-top: -1em;
}
.images2{
margin-left: 4em;
}
.images3{
margin-left: 4em;
margin-top: -0.8em;
}
.social-icon{
    translate: -3em 0em ;
}
.social-icon li{
    display:inline-block;
    padding: 0em 1em;
}
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lower-footer h5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1em 0em;
    color: rgba(146, 144, 144, 0.63);
    font-size: medium;
    background-color:#c0c2c0;
}
#ment{
    color:  rgba(122, 120, 120, 0.751);
}
.upper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em;
    background-color:#e2e2e2;
}
.uf-1{
    margin-top: -8em;
}
.uf-1 li{
    list-style-type: none;
}
.uf-2{
    text-align: center;
    margin-top: -10em;
}
.uf-2 li{
    list-style-type: none;
line-height: 2em;
font-size: medium;
font-family: 'Mulish', sans-serif ;
color:rgb(83, 81, 81);
}
.uf-2 li:hover{
    color:rgb(41, 41,252, 0.911);
    text-decoration: underline;
}
#plat{
    text-transform: capitalize;
    color: rgb(59, 58, 58);
    font-size: large;
    font-weight: bold;
}
#plat:hover{
    text-decoration: none;
}
.uf-3{
    text-align: center;
}
.uf-3 li{
    list-style-type:none ;
    line-height: 2em;
    font-size: medium;
    font-family: 'Mulish', sans-serif ;
    color:rgb(104, 101, 101);
}
.uf-3 li:hover{
    color:rgba(41, 41, 252, 0.911);
    text-decoration: underline;    
}
#reso{
 text-transform: capitalize;
    color: rgb(59, 58, 58);
    font-size: large;
    font-weight: bold;
}
#reso:hover{
    text-decoration: none;
}
.uf-4{
    text-align: center;
}
.uf-4 li{
    list-style-type:none ;
    line-height: 2em;
    font-size: medium;
    font-family: 'Mulish', sans-serif ;
    color:rgb(104, 101, 101);
}
.uf-4 li:hover{
     color:rgba(41, 41, 252, 0.911);
     text-decoration: underline;
}
#carrer{
 text-transform: capitalize;
    color: rgb(59, 58, 58);
    font-size: large;
    font-weight: bold;
}
#carrer:hover{
    text-decoration: none;
}
.uf-5{
text-align: center;
margin-top: -12em;
}
.uf-5 li{
    list-style-type:none ;
    line-height: 2em;
    font-size: medium;
    font-family: 'Mulish', sans-serif ;
    color:rgb(104, 101, 101);
}
.uf-5 li:hover{
        color: rgba(41, 41, 252, 0.911);
        text-decoration: underline;
}
#company{
   text-transform: capitalize;
    color: rgb(59, 58, 58);
    font-size: large;  
    font-weight: bold;
}
#company:hover{
    text-decoration: none;
}
.f-social-icon li{
    display: inline-block;
    margin-left: 0.5em;
}
.f-para{
    width: 26vw;
    padding: 1em 1em;
    margin-top: -2em;
    font-size: medium;
    font-family:'Mulish', sans-serif ;
    color:rgb(59, 58, 58)
}
.chat-bot{
 position: fixed;
 top: 80%;
right: -1em;
z-index: 100%;
}